# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  b {
    description: Buffer/Tabs Navigation...
    bindings {
      b {actionId: RecentFiles, description: Recent Files}
      B {actionId: RecentChangedFiles, description: Recent Changed Files}
      d {actionId: CloseContent, description: Close}
      D {actionId: CloseAllEditors, description: Close All}
      j {actionId: NextTab, description: Next Tab}
      k {actionId: PreviousTab, description: Previous Tab}
      l {actionId: RecentLocations, description: Recent Locations}
      O {actionId: CloseAllEditorsButActive, description: Close Other}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
      x {actionId: NewScratchBuffer, description: Scratch Buffer}
      "[" {actionId: Back, description: Back}
      "]" {actionId: Forward, description: Forward}
    }
  }
  c {
    description: Code...
    bindings {
      a {actionId: InspectCode, description: Analyze}
      c {actionId: CommentByLineComment, description: Comment}
      d {actionId: GotoDeclaration, description: Go to Declaration}
      D {actionId: ShowUsages, description: Show Usages}
      f {actionId: ReformatCode, description: Reformat code}
      i {actionId: GotoImplementation, description: Go to Implementation}
      I {actionId: GotoSuperMethod, description: Go to super method}
      j {actionId: FileStructurePopup, description: Jump In Structure}
      k {actionId: QuickJavaDoc, description: Quick javadoc popup}
      o {actionId: OptimizeImports, description: Optimize imports}
      r {actionId: RefactoringMenu, description: Refactor this...}
      t {actionId: ExpressionTypeInfo, description: Type info}
      y {actionId: CopyReference, description: Copy reference}
    }
  }
  f {
    description: File...
    bindings {
      n {actionId: NewElement, description: New}
      r {actionId: SynchronizeCurrentFile, description: Reload From Disk}
      R {actionId: Synchronize, description: Reload All From Disk}
      s {actionId: SaveDocument, description: Save File}
      S {actionId: SaveAll, description: Save All}
      y {actionId: CopyReferencePopup, description: Copy filename}
    }
  }
  g {
    description: Git...
    bindings {
      b {actionId: Git.Branches, description: Show Branches}
      c {actionId: Vcs.Show.Local.Changes, description: Show Changes}
      f {actionId: Git.Fetch, description: Fetch}
      F {actionId: Git.Pull, description: Pull}
      g {actionId: Github.Open.In.Browser, description: Open on github}
      m {actionId: Git.Configure.Remotes, description: Manage remotes}
      r {actionId: Git.Rebase, description: Rebase}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Stash}
      l {actionId: Vcs.Show.Log, description: Show Log}
    }
  }
  t {
    description: Toggle...
    bindings {
      a {actionId: Annotate, description: Annotate Git Blame}
      b {actionId: ToggleLineBreakpoint, description: Line Breakpoint}
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      f {actionId: ToggleFullScreen, description: Fullscreen Mode}
      l {actionId: EditorToggleUseSoftWraps, description: Line Soft Wrapping}
      m {actionId: ToggleBookmark, description: Bookmark}
      M {actionId: ToggleBookmarkWithMnemonic, description: Bookmark With Mnemonic}
      n {actionId: EditorToggleShowLineNumbers, description: Line Numbers}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      z {actionId: ToggleZenMode, description: Zen Mode}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
    }
  }
  m {actionId: ShowIntentionActions, description: Local Intentions}
  o {
    description: Open Tool...
    bindings {
      a {actionId: Android.RunAndroidAvdManager, description: AVD Manager}
      b {actionId: ActivateBuildToolWindow, description: Build}
      B {actionId: ViewBreakpoints, description: Breakpoints}
      f {actionId: ActivateFavoritesToolWindow, description: Favorites}
      g {actionId: ActivateGradleToolWindow, description: Gradle Tasks}
      h {actionId: LocalHistory.ShowHistory, description: History}
      i {actionId: Android.RunLegacyLayoutInspector, description: Layout inspector}
      I {actionId: ActivateAppInspectionToolWindow, description: App Inspection}
      l {actionId: ActivateLogcatToolWindow, description: Logcat}
      m {actionId: ShowBookmarks, description: Bookmarks}
      p {actionId: ActivateProjectToolWindow, description: Project}
      r {actionId: ActivateRunToolWindow, description: Run}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
      v {actionId: Vcs.Show.Log, description: Vcs}
    }
  }
  p {
    description: Project...
    bindings {
      i {actionId: ImportProject, description: Import}
      k {actionId: CloseProject, description: Close}
      n {actionId: NewProject, description: New}
      o {actionId: WelcomeScreen.OpenProject, description: Open}
    }
  }
  q {
    description: Session...
    bindings {
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
          i {actionId: ReloadAtamanConfigAction, description: Reload from ~/.atamanrc.config}
        }
      }
      p {actionId: WelcomeScreen.Plugins, description: Plugins}
      r {actionId: RestartIde, description: Restart}
      R {actionId: InvalidateCaches, description: Invalidate Caches And Restart}
      q {actionId: CloseProject, description: Close Project}
      Q {actionId: Exit, description: Exit}
    }
  }
  r {
    description: Run...
    bindings {
      t {actionId: RerunTests, description: Rerun Tests}
      r {actionId: RunAnything, description: Run Anything}
      s {actionId: Android.SyncProject, description: Sync Project With Gradle}
      l {actionId: Rerun, description: Rerun Latest}
      c {actionId: MakeModule, description: Compile Current Module}
      d {actionId: AndroidConnectDebuggerAction, description: Connect Debugger To Android Device}
      f {actionId: ChooseRunConfiguration, description: Choose Run Configuration}
      a {actionId: DeviceAndSnapshotComboBox, description: Select AVD}
    }
  }
  s {
    description: Search...
    bindings {
      s {actionId: Find, description: Find In File}
      r {actionId: Replace, description: Replace In File}
      S {actionId: FindInPath, description: Find in Files}
      R {actionId: ReplaceInPath, description: Replace in Files}
      c {actionId: GotoClass, description: Go To Class}
      f {actionId: GotoFile, description: Go To File}
      i {actionId: GotoSymbol, description: Go To Symbol}
      a {actionId: GotoAction, description: Go To Actions}
      e {actionId: SearchEverywhere, description: Search Everywhere}
    }
  }
  w {
    description: Window...
    bindings {
      v {actionId: SplitVertically, description: Split right}
      q {actionId: Unsplit, description: Unsplit}
      h {actionId: PrevSplitter, description: Prev Splitter}
      l {actionId: NextSplitter, description: Next Splitter}
    }
  }
  z {
    description: Zoom...
    bindings {
      "]" {actionId: EditorIncreaseFontSize, description: Increase Font Size}
      "[" {actionId: EditorDecreaseFontSize, description: Decrease Font Size}
      "=" {actionId: EditorResetFontSize, description: Reset Font Size}
      r {actionId: CollapseAllRegions, description: Collapse All Regions}
      R {actionId: ExpandAllRegions, description: Expand All Regions}
    }
  }
}
